
mixin icon(name, className)
  - var icon = require(`images/icons/${name}.svg`);
  svg(class=className viewBox=icon.viewBox preserveAspectRatio="none")
    use(xlink:href=icon.url)

mixin image(path, className, description, rollName)
  if role
    img(src=require(`images/${path}`) class=className role=rollName)
  else
    img(src=require(`images/${path}`) class=className alt=description)

mixin listLinks (className, items)
  ul(class = `${className}__list`)
    each item in items
      li(class = `${className}__item`)
        a(class = `${className}__link` href="#")= item
